@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: rgb(31, 31, 31);

}

h1{
    color: white;
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 100vh;
}
span{
    opacity: 0;
    transition: all 2s ease;
    transform: translateY(50px);
    display: inline-block;
}

span.fade{
    opacity: 1;
    transform: translateY(0);
    color: #fdb827;
}


form{
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fdb827;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:rgb(31, 31, 31);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(31, 31, 31);
    color: #fdb827;
  }
.search{
  margin-right: 0;
  padding-left: 810px;
}

