<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Search.css">
    <title>Z E B R A/Search</title>
</head>
<body>
    <form id="content">
        <input type="text" name="input" class="input" id="search-input" placeholder="Search">
        <button type="reset" class="search" id="search-btn"></button>
      </form>
      <script src="/components/Search/Search.js"></script>
</body>
</html>